<script setup lang="ts">
import { RouterLink, RouterView } from "vue-router";
import CalComponentVue from "./components/CalComponent.vue";
import HelloWorld from "./components/HelloWorld.vue";
import HelloWorldExampleVue from "./components/HelloWorldExample.vue";
import HandlingUserinputVue from "./components/HandlingUserinput.vue";
import AttributeBindingsVue from "./components/AttributeBindings.vue";
import ConditionAndLoopsVue from "./components/conditionsAndLoops.vue";
import FormBindingsVue from "./components/FormBindings.vue";
import simplecompentVue from "./components/simplecompent.vue";
</script>

<template>
  <div>
    <CalComponentVue />
    <HelloWorldExampleVue />
    <HandlingUserinputVue />
    <AttributeBindingsVue />
    <ConditionAndLoopsVue />
    <FormBindingsVue />
    <simplecompentVue />
  </div>
</template>

<style scoped></style>
